body {
	background-color: #0C7DAE;
	background-image: linear-gradient(#0C7DAE, #084964, #2C2175, #26084E, #110323, #0E0B23);
	color: #FFF;
	margin: 0 auto;
	z-index: 1;
	height: 100%;
	padding-bottom: 155px;
}

/* HEADER */
header {
	background-color: #FFF;
	color: #0C7DAE;
	font-size: 36px;
	font-family: Montserrat;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 3;
}

#title {
	text-align: center;
	padding-top: 20px;
}

header ul {
	padding-bottom: 15px;
	margin: 20px auto;
	text-align: center;
}
	
.nav {
	font-size: 16px;
	display: inline-block;
	padding-left:20px;
	padding-right: 20px;
}

.nav:hover {
	color: #0EC4C2;
}

/* ABOUT ME */
.about-me {
	position: relative;
	top: 225px;
	left: 50px;
	margin: 0 auto;
	width: 50%;
	min-width: 600px;
	display: grid;
	grid-template-columns: repeat(2, 555px);
}
	
#about-header{
	font-family: Helvetica, Montserrat;
	font-size: 24px;
	text-align: left;
	grid-column: span 2;
}
	
.about-me p{
	font-family: Helvetica, Montserrat;
	font-size: 16px;
	text-align: left;
	padding-top: 0px;
	grid-column: span 1;
}

.content {
	border: 1px solid white;
	padding: 10px;
}

.about-me .image {
	justify-self: end;
	border: 1px solid white;
	padding: 10px;
}

#pro-image {
	width: 500px;
	grid-column: span 1;
	border: 1px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Projects */
.label {
	position: relative;
	top: 225px;
	margin-bottom: 200px;
}

.projects {
	position: relative;
	top: 225px;
	margin: 0 auto;
	width: 50%;
	min-width: 600px;
}

.section-header {
	text-align: center;
	margin-top: 120px;
	margin-bottom: 40px;
	color: white;
}

.section-sub-header {
	font-size: 30px;
}

.projects p {
	color: white;
	text-align: center;
}

.projects .link {
	color: white;
}

.link:hover {
	color: black;
}

.caption {
	font-size: 16px;
	font-color: white;
	text-align: center;
	margin-top: 12px;
}

.projects .image {
	border: 1px solid white;
	padding-bottom: 5px;
	margin-bottom: 15px;
	text-align: center;
}

.projects img {
	border: 1px solid white;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

#central-hub {
	width: 350px;
	margin-top: 10px;
}

#sensor-array {
	width: 550px;
	margin-top: 20px;
}

#validation-results {
	width: 90%;
	margin: 20px;
}

/* ONLINE RESUME */
.resume {
	position: relative;
	top: 225px;
	margin: 0 auto;
	width: 50%;
	min-width: 600px;
}

.resume h2 {
	text-align: start;
	margin-bottom: 30px;
}

#skill-grid {
	border: 1px solid white;
	list-style-type: none;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.skill-header {
	margin-right: 40px;
	font-size: 30px;
	font-weight: 600;
	text-decoration: underline;
}

.prog-lang, .comp-skill, .other-skill, .exp-header {
	margin-right: 40px;
	font-size: 24px;
}

#experience {
	margin-top: 125px;
}

.exp-header {
	margin-top: 20px;
}

.exp-header, .duration {
	display: inline-block;
	margin-left: 20px;
}

.exp-description {
	width: 80%;
}

.exp-item {
	font-size: 18px;
}

#education h2 {
	margin-top: 80px;
}

.edu-container {
	margin-left: 40px;
}

/* FOOTER */
footer {
	text-align: center;
	position: relative;
	top: 300px;
	margin: 0 auto;
}

footer ul {
	list-style-type: none;	
}

#footer-links {
	display: inline-block;
	font-size: 24px;
}

#footer-links .link {
	color: #FFF;
}

#footer-links .link:hover {
	color: #000;
}