body {
	background-color: #0C7DAE;
	color: #FFF;
	margin: 0 auto;
	
	z-index: 1;
}

/* HEADER */
header {
	background-color: #FFF;
	color: #0C7DAE;
	font-size: 36px;
	font-family: Montserrat;
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 3;
}

#title {
	text-align: center;
	padding-top: 20px;
}

header ul {
	padding-bottom: 15px;
	margin: 20px auto;
	text-align: center;
}
	
.nav {
	font-size: 16px;
	display: inline-block;
	padding-left:20px;
	padding-right: 20px;
}

.nav:hover {
	color: #0EC4C2;
}

/* ABOUT ME */
.about-me {
	position: relative;
	top: 225px;
	left: 50px;
	margin: 0 auto;
	width: 50%;
	min-width: 600px;
	display: grid;
	grid-template-columns: repeat(2, 555px);
}
	
#about-header{
	font-family: Helvetica, Montserrat;
	font-size: 24px;
	text-align: left;
	grid-column: span 2;
}
	
.about-me p{
	font-family: Helvetica, Montserrat;
	font-size: 16px;
	text-align: left;
	padding-top: 0px;
	grid-column: span 1;
}

.content {
	border: 1px solid white;
	padding: 10px;
}

.about-me .image {
	justify-self: end;
	border: 1px solid white;
	padding: 10px;
}

#pro-image {
	width: 500px;
	grid-column: span 1;
	border: 1px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Projects */
#projects {
	position: relative;
	top: 225px;
	margin-bottom: 200px;
}

.projects {
	position: relative;
	top: 225px;
	margin: 0 auto;
	width: 50%;
	min-width: 600px;
}

.projects h1 {
	text-align: center;
	margin-top: 120px;
	color: white;
}

.projects h2 {
	margin-top: 40px;
}

.projects p {
	color: white;
	text-align: center;
}

.projects .link {
	color: white;
}

.link:hover {
	color: black;
}

.caption {
	font-size: 16px;
	font-color: white;
	text-align: center;
	margin-top: 12px;
}

.projects .image {
	border: 1px solid white;
	padding-bottom: 5px;
	margin-bottom: 15px;
	text-align: center;
}

.projects img {
	border: 1px solid white;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}

#central-hub {
	width: 350px;
	margin-top: 10px;
}

#sensor-array {
	width: 550px;
	margin-top: 20px;
}

#validation-results {
	width: 90%;
	margin: 20px;
}